.carousel-container {
  width: 100%;
  position: relative;
  overflow: hidden;
  margin: 20px auto;
}

.product-container {
  display: flex;
  transition: transform 0.3s ease-in-out;
  overflow-x: auto;
  white-space: nowrap;
  padding: 10px;
  scrollbar-width: none; /* Ocultar barra de rolagem no Firefox */
}

.product-container::-webkit-scrollbar {
  display: none; /* Ocultar barra de rolagem no WebKit (Chrome, Safari) */
}

.product-card {
  min-width: 200px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-color: #fff;
  flex-shrink: 0;
}

.product-card img {
  width: 100%;
  height: auto;
}

.product-info {
  padding: 15px;
}

.product-info h3 {
  margin-top: 0;
  font-size: 1.2rem;
  color: #333;
}

.product-info p {
  margin-bottom: 10px;
  font-size: 0.9rem;
  color: #666;
}

.product-price {
  font-weight: bold;
  color: #007bff;
}

.add-to-cart {
  display: block;
  width: 80%;
  margin: 5px auto;
  padding: 10px;
  background-color: #588157;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-to-cart:hover {
  background-color: #3a5a40;
}

.nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}

.nav-button.left {
  left: 10px;
}

.nav-button.right {
  right: 10px;
}

.nav-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

@media (max-width: 768px) {
  .product-card {
    min-width: 150px;
    margin: 10px;
  }
  .product-container {
    width: 90%;
  }
}
